<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/static/assets/ucu.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>UCUBook</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
<div class="ucubook" id="requests">
  <div class="header-group" id="requestsHeader">
    <div class="header-background">
    </div>
    <img id="loginIcon" class="login-icon" src="../static/assets/user.png" alt="Login/User icon">
    <a href="/"><img class="logo-image" src="../static/assets/image-1.png"/></a>
    <!-- pop-up menu -->
    <div class="popup-menu" id="popupMenu">
      <ul>
        <li><a href="requests">Історія бронювань</a></li>
        <li><a href="admin">Керування</a></li>
        <li><a id="logout" href="#">Вийти</a></li>
      </ul>
    </div>
  </div>
  <div class="admin-requests"> 
    <div id="pendingRequestsContainer"> 
        <div id="adminText">Запити, які очікують підтвердження</div>
        {% for i in range(4) %}
        <hr>
        <div class="pending-requests">
          
          <div class="pending-info">
            <p class="pending-main">[Аудиторія], xx.yy.zz XX.00 - YY.00</p>
            <p class="pending-name">Подія</p>
            <p class="pending-description">Опис</p>
            <p class="pending-renter">ПІ</p>
            <p class="pending-num">Моб. тел.</p>
          </div>
          <div class="pending-buttons">
            <button class="accept">Підтвердити</button>
            <button class="decline">Відмовити</button>
          </div>
        </div>
        {% endfor %}
    </div>
    <div id="prevRequestsContainer">
      <div id="prevText">Історія бронювань</div>
      {% for i in range(8) %}
      <hr>
      <div class="prev-requests">
        <div class="prev-info">
          <p class="prev-main">[Аудиторія], xx.yy.zz XX.00 - YY.00</p>
          <p class="prev-description">Опис</p>
        </div>
        <div class="prev-status">Статус</div>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
<script src="../static/scripts/popup.js"></script>
</body>
</html>
