<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/static/assets/ucu.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>UCUBook</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
<div class="ucubook-container">
  <div class="header-group">
    <div class="red-rectangle">
    </div>
    <img id="loginIcon" class="login-icon" src="../static/assets/user.png" alt="Login/User icon">
    <img class="logo-image" src="../static/assets/image-1.png"/>
    <div class="popup-menu" id="popupMenu">
      <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="sidebar-group">
    <div class="floor-group-sh">
      <p class="floor-list">Поверхи</p>
      <div class="floor-options">
        <button class="floor-button" id="sh-0">Поверх 0</button>
        <button class="floor-button" id="sh-1">Поверх 1</button>
        <button class="floor-button" id="sh-2">Поверх 2</button>
        <button class="floor-button" id="sh-3">Поверх 3</button>
        <button class="floor-button" id="sh-4">Поверх 4</button>
      </div>
    </div>
    <div class="sidebar-rectangle">
    </div>
    <div class="building-group">
      <p class="building-list">Корпуси</p>
      <div class="building-options">
        <button class="building-button" id="sh">Центр Шептицького</button>
        <button class="building-button" id="ak">Академічний корпус</button>
        <button class="building-button" id="khs">Храм Софії</button>
      </div>
    </div>
  </div>
</div>
<script src="./static/scripts/popup.js"></script>
</body>
</html>
