html {
  font-size: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 100%;
  font-size: 16px;
}

.ucubook-container {
  min-width: 1200px;
  padding-bottom: 10rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
}

.ucubook-container .header-group {
  margin-bottom: 6.4rem;
  width: 100%;
  max-width: 100%;
  height: 11rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ucubook-container .header-group .red-rectangle {
  width: 100%;
  height: 100%;
  background-color: #7f1716;
}

.ucubook-container .header-group .logo-text {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: 'Source Serif Pro', 'Source Sans Pro';
  text-align: center;
}

.ucubook-container .header-group .logo-image {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 20rem;
  height: auto;
}

.ucubook-container .header-group .login-icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 4.5rem;
  height: auto;
  cursor: pointer;
  margin-right: 25px;
}

.popup-menu {
  font-family: 'Inter', 'Source Sans Pro';
  margin-right: 10px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  z-index: 1;
  font-size: 16px;
  text-align: left;
}

.popup-menu ul {
  padding: 10px;
}

.popup-menu li {
  padding: 10px 20px;
}

.popup-menu a {
  display: block;
  text-decoration: none;
  color: #333;
}

.popup-menu li:hover {
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.ucubook-container .sidebar-group {
  margin: 0rem 30.9rem 0rem 38.2rem;
  width: calc(100% - 70 rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.ucubook-container .sidebar-group .floor-group {
  margin: 2rem 4.4rem 0rem 0rem;
  width: 12.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.ucubook-container .sidebar-group .floor-group .floor-list {
  max-width: 12.1rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: 'Inter', 'Source Sans Pro';
  flex-shrink: 0;
}

.ucubook-container .sidebar-group .floor-group .floor-options {
  box-sizing: border-box;
  padding-top: 3.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.ucubook-container .sidebar-group .floor-group .floor-options .floor-button {
  background-color: #903a39;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  width: 12rem;
  margin-bottom: 2.8rem;
  height: 3.4rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.ucubook-container .sidebar-group .floor-group .floor-options .floor-button-current {
  background-color: #DB7941;
  color: #ffffff;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  width: 12rem;
  margin-bottom: 2.8rem;
  height: 3.4rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 transparent;
}

.ucubook-container .sidebar-group .floor-group .floor-options .floor-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ucubook-container .sidebar-group .floor-group .floor-options .floor-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ucubook-container .sidebar-group .floor-group .floor-options .floor-button-current:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ucubook-container .sidebar-group .floor-group .floor-options .floor-button-current:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ucubook-container .sidebar-group .sidebar-rectangle {
  margin-right: 4.6rem;
  width: 82.6rem;
  height: 50.8rem;
  background-color: #903a39;
  flex-shrink: 0;
}

.ucubook-container .sidebar-group .building-group {
  margin-top: 2.5rem;
  width: 19.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.ucubook-container .sidebar-group .building-group .building-list {
  max-width: 19.2rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: 'Inter', 'Source Sans Pro';
  flex-shrink: 0;
}

.ucubook-container .sidebar-group .building-group .building-options {
  box-sizing: border-box;
  padding-top: 2.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.ucubook-container .sidebar-group .building-group .building-options .building-button {
  background-color: #903a39;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  width: 12rem;
  margin-bottom: 2.8rem;
  height: 3.4rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 transparent;
}

.ucubook-container .sidebar-group .building-group .building-options .building-button-current {
  background-color: #DB7941;
  color: #ffffff;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  width: 12rem;
  margin-bottom: 2.8rem;
  height: 3.4rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 transparent;
}

.ucubook-container .sidebar-group .building-group .building-options .building-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ucubook-container .sidebar-group .building-group .building-options .building-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ucubook-container .sidebar-group .building-group .building-options .building-button-current:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ucubook-container .sidebar-group .building-group .building-options .building-button-current:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}